<h1>New user</h1>

<%= semantic_form_for([:admin, @user]) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do -%>
    <%= f.input :login %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :time_zone, :priority_zones => ActiveSupport::TimeZone.us_zones %>
    <%= f.input :active %>
  <% end -%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', admin_users_path %>
</p>
